<h2>
    <% if (mode === 'edit') { %>
        Editar síntoma
        <span class="badge rounded-1 text-bg-light user-select-none">
            #<%= sintoma.id %>
        </span>
    <% } else { %>
        Novo síntoma
    <% } %>
</h2>

<form action="<%= mode === 'edit' ? '/sintoma/' + sintoma.id + '?_method=PUT' : '/sintoma' %>" method="POST">
    <div class="row row-gap-3">

        <!-- descrição -->
        <div class="col-12">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea 
                class="form-control"
                style="min-height: 67px; height: 67px; max-height: 259px;"
                name="descricao" 
                id="descricao"
                placeholder="Resuma seu item em poucas palavras…"
                required
            ><%= sintoma ? sintoma.descricao : '' %></textarea>
        </div>

        <!-- categoria -->
        <div class="col-md-6">
            <label for="categoria" class="form-label">Categoria</label>
            <select 
                class="form-select"
                name="categoria" 
                id="categoria"
                required
            >
                <option value="" selected>Selecione...</option>
            </select>
        </div>

        <!-- localização -->
        <div class="col-md-6">
            <label for="localizacao" class="form-label">Localizacao</label>
            <select 
                class="form-select"
                name="localizacao" 
                id="localizacao"
                required
            >
                <option value="" selected>Selecione...</option>
            </select>
        </div>

        <!-- duração -->
        <div class="col-xl-4">
            <label for="duracao" class="form-label">Duração (minutos)</label>

            <div class="input-group">
                <button 
                    type="button" 
                    class="btn btn-dark-blue"
                    onclick="handleDuracao(false)">
                    <i class="fa-solid fa-minus"></i>
                </button>

                <input 
                    type="number" 
                    class="form-control text-center"
                    name="duracao" 
                    id="duracao"
                    value="<%= sintoma ? sintoma.duracao : '' %>"
                >

                <button 
                    type="button" 
                    class="btn btn-dark-blue"
                    onclick="handleDuracao(true)">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>

        <!-- intensidade -->
        <div class="col-xl-4">
            <label for="intensidade" class="form-label">Intensidade</label>
            <input type="hidden" name="intensidade" id="intensidadeInput" value="<%= sintoma ? sintoma.intensidade : '' %>">

            <div class="dropdown w-100">
                <button class="form-select text-start" type="button" id="dropdownIntensidade" data-bs-toggle="dropdown">
                    <i class="fas fa-thermometer-half me-2"></i> Selecione a intensidade
                </button>
                <ul class="dropdown-menu border-2 rounded-4 my-1 w-100" id="listaIntensidade"></ul>
            </div>
        </div>

        <!-- data -->
        <div class="col-xl-4">
            <label for="data" class="form-label">Data</label>
            <input 
                type="date" 
                class="form-control" 
                name="data" 
                id="data"
                value="<%= sintoma ? sintoma.data : '' %>" 
                required
            >
        </div>

        <!-- observações -->
        <div class="col-12">
            <label for="observacoes" class="form-label">Observações</label>
            <textarea 
                class="form-control" 
                style="min-height: 91px; height: 91px; max-height: 259px;"
                name="observacoes" 
                id="observacoes" 
                placeholder="Adicione detalhes, lembretes ou comentários extras…"
            ><%= sintoma ? sintoma.observacoes : '' %></textarea>
        </div>

        <div class="col-sm"></div>
        <div class="col-sm-auto mt-4">
            <button 
                type="submit" 
                class="btn btn-main btn-<%= mode === 'edit' ? 'edit' : 'create' %> w-100"
            >
                <% if (mode === 'edit') { %>
                    <i class="fa-solid fa-pencil"></i>
                <% } else { %>
                    <i class="fa-solid fa-plus"></i>
                <% } %>

                <span class="ms-2">
                    <%= mode==='edit' ? 'Salvar Alterações' : 'Cadastrar Síntoma' %>
                </span>
            </button>
        </div>
    </div>
</form>

<script src="/js/intensidades.js"></script>
<script>
    const descricao = document.getElementById('descricao');  
    const observacoes = document.getElementById('observacoes');  
    const duracao = document.getElementById('duracao');

    descricao.addEventListener('input', () => {
        descricao.style.height = 'auto';
        descricao.style.height = descricao.scrollHeight + 'px';
    });

    observacoes.addEventListener('input', () => {
        observacoes.style.height = 'auto';
        observacoes.style.height = observacoes.scrollHeight + 'px';
    });

    /**
     * Aumenta/diminui valor de duração do campo de síntoma.
     *
     * @param {*} aumentar
     */
    function handleDuracao(aumentar) {
        if (duracao) {
            if (aumentar) {
                duracao.value ++;
            } else {
                if (duracao.value >= 1)
                    duracao.value --;
            }

            if (duracao.value <= 0)
                duracao.value = '';
        }
    }

    const lista = document.getElementById("listaIntensidade");
    const dropdownBtn = document.getElementById("dropdownIntensidade");
    const inputHidden = document.getElementById("intensidadeInput");

    intensidades.forEach(item => {
        const li = document.createElement("li");
        li.innerHTML = `
            <a class="dropdown-item d-flex flex-column" href="#" data-value="${item.value}">
                <div class='d-flex align-items-center'>
                    <i class="${item.icon} me-2"></i>
                    <div class="fw-bold">${item.label}</div>
                </div>
                <small class="text-muted">${item.desc}</small>
            </a>
        `;
        lista.appendChild(li);
    });

    // evento de clique para selecionar
    lista.addEventListener("click", e => {
        const target = e.target.closest(".dropdown-item");
        if (!target) return;

        e.preventDefault();
        const value = target.getAttribute("data-value");
        const text = target.querySelector(".fw-bold").textContent;
        const icon = target.querySelector("i").outerHTML;

        dropdownBtn.innerHTML = icon + " " + text;
        inputHidden.value = value;
    });
</script>