<h2 class="fw-bold">
    <% if (mode === 'edit') { %>
        Editar síntoma
        <span class="badge badge-blue rounded-1 user-select-none">
            #<%= sintoma.id %>
        </span>
    <% } else { %>
        Novo síntoma
    <% } %>
</h2>

<div id="cardInfo"></div>

<form action="<%= mode === 'edit' ? '/sintoma/' + sintoma.id + '?_method=PUT' : '/sintoma' %>" method="POST">
    <div class="row row-gap-3">

        <!-- descrição -->
        <div class="col-12">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea 
                class="form-control"
                style="min-height: 67px; height: 67px; max-height: 259px;"
                name="descricao" 
                id="descricao"
                placeholder="Resuma seu item em poucas palavras…"
                required
            ><%= sintoma ? sintoma.descricao : '' %></textarea>
        </div>

        <!-- categoria -->
        <div class="col-md-6">
            <label for="categoria" class="form-label">Categoria</label>
            <select 
                class="form-select"
                name="categoria" 
                id="categoria"
                required
            >
                <option value="" selected>Selecione...</option>
            </select>
        </div>

        <!-- localização -->
        <div class="col-md-6">
            <label for="btnLocalizacao" class="form-label">Localizacao</label>
            <input type="hidden" name="localizacao" id="hdnLocalizacao" value="<%= sintoma ? sintoma.localizacao : '' %>">
            
            <div class="dropdown w-100">
                <% 
                    let localizacaoExistente = null; 
                    if (sintoma) { 
                        const loc=localizacoes.find(l=> l.id === sintoma.localizacao);
                        if (loc) {
                            localizacaoExistente = loc.nome;
                        }
                    }
                %>
                <button class="form-select text-start" type="button" id="btnLocalizacao" data-bs-toggle="dropdown">
                    <% if (localizacaoExistente) { %>
                        <%= localizacaoExistente %>
                    <% } else { %>
                        <i class="fas fa-location-dot me-2"></i> Selecione a localização
                    <% } %>
                </button>

                <ul class="dropdown-menu border-2 rounded-4 my-1 w-100 overflow-y-auto" id="listaLocalizacao" style="max-height: 350px;">
                <% localizacoes.forEach(loc=> { %>
                    <li>
                        <button class="dropdown-item fw-medium" type="button" data-value="<%= loc.id %>">
                            <%= loc.nome %>
                        </button>
                    </li>
                <% }) %>
                </ul>
            </div>
        </div>

        <!-- duração -->
        <div class="col-xl-3">
            <label for="duracao" class="form-label">Duração (minutos)</label>

            <div class="input-group">
                <button 
                    type="button" 
                    class="btn btn-dark-blue"
                    onclick="handleDuracao(false)">
                    <i class="fa-solid fa-minus"></i>
                </button>

                <input 
                    type="number" 
                    class="form-control text-center"
                    name="duracao" 
                    id="duracao"
                    value="<%= sintoma ? sintoma.duracao : '' %>"
                    min="1"
                    step="1"
                >

                <button 
                    type="button" 
                    class="btn btn-dark-blue"
                    onclick="handleDuracao(true)">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>

        <!-- intensidade -->
        <div class="col-xl-4">
            <label for="btnIntensidade" class="form-label">Intensidade</label>
            <input type="hidden" name="intensidade" id="hdnIntensidade" value="<%= sintoma ? sintoma.intensidade : '' %>">

            <div class="dropdown w-100">
                <button class="form-select text-start" type="button" id="btnIntensidade" data-bs-toggle="dropdown">
                    <i class="fas fa-thermometer-half me-2"></i> Selecione a intensidade
                </button>

                <ul class="dropdown-menu border-2 rounded-4 my-1 w-100" id="listaIntensidade">
                    <button class="dropdown-item d-flex flex-column" type="button" data-value="">
                        <div class='d-flex align-items-center'>
                            <i class="fas fa-ban text-muted me-2"></i>
                            <div class="fw-bold">Nenhuma</div>
                        </div>
                        <small class="text-muted">Não informar intensidade.</small>
                    </button>
                </ul>
            </div>
        </div>

        <!-- data -->
        <%
            const dataAtual = new Date();
            const pad = n => n.toString().padStart(2, '0');

            const dataFormatada = dataAtual.getFullYear() + '-' + pad(dataAtual.getMonth() + 1) + '-' + pad(dataAtual.getDate());
            const horaFormatada = pad(dataAtual.getHours()) + ':' + pad(dataAtual.getMinutes());
        %>
        <div class="col-sm-6 col-xl-3">
            <label for="data" class="form-label">Data</label>
            <div class="input-wrapper">
                <input 
                    type="date" 
                    class="form-control" 
                    name="data" 
                    id="data"
                    value="<%= sintoma ? sintoma.data : dataFormatada %>" 
                    min="1900-01-01"
                    max="2100-12-31"
                    step="1"
                    required
                >
                <i class="fa fa-calendar"></i>
            </div>
        </div>

        <!-- hora -->
        <div class="col-sm-6 col-xl-2">
            <label for="hora" class="form-label">Hora</label>
            <div class="input-wrapper">
                <input 
                    type="time" 
                    class="form-control" 
                    name="hora" 
                    id="hora" 
                    value="<%= sintoma ? sintoma.hora : horaFormatada %>" 
                    min="00:00"
                    max="23:59"
                    required
                >
                <i class="fa fa-clock"></i>
            </div>
        </div>

        <!-- observações -->
        <div class="col-12">
            <label for="observacoes" class="form-label">Observações</label>
            <textarea 
                class="form-control" 
                style="min-height: 91px; height: 91px; max-height: 259px;"
                name="observacoes" 
                id="observacoes" 
                placeholder="Adicione detalhes, lembretes ou comentários extras…"
            ><%= sintoma ? sintoma.observacoes : '' %></textarea>
        </div>

        <!-- botão cadastrar/editar -->
        <div class="col-sm"></div>
        <div class="col-sm-auto mt-4">
            <button 
                type="submit" 
                class="btn-main btn-<%= mode === 'edit' ? 'edit' : 'create' %> w-100"
            >
                <% if (mode === 'edit') { %>
                    <i class="fa-solid fa-pencil"></i>
                <% } else { %>
                    <i class="fa-solid fa-plus"></i>
                <% } %>

                <span class="ms-2">
                    <%= mode==='edit' ? 'Salvar Alterações' : 'Cadastrar Síntoma' %>
                </span>
            </button>
        </div>
    </div>
</form>

<script src="/js/intensidades.js"></script>
<script src="/js/script.js"></script>

<script>
    document.getElementById("data").addEventListener("focus", () => data.showPicker?.());
    document.getElementById("hora").addEventListener("focus", () => hora.showPicker?.());

    /**
     * Ajusta dinamicamente a altura dos campos de texto
     * (descricao e observacoes) conforme digitação.
     */
    const descricao = document.getElementById('descricao');  
    const observacoes = document.getElementById('observacoes');  
    const duracao = document.getElementById('duracao');

    descricao.addEventListener('input', () => {
        descricao.style.height = 'auto';
        descricao.style.height = descricao.scrollHeight + 'px';
    });

    observacoes.addEventListener('input', () => {
        observacoes.style.height = 'auto';
        observacoes.style.height = observacoes.scrollHeight + 'px';
    });

    /**
     * Aumenta/diminui valor de duração do campo de síntoma.
     *
     * @param {*} aumentar
     */
    function handleDuracao(aumentar) {
        if (duracao) {
            if (aumentar) duracao.value ++;
            else
                if (duracao.value >= 1) duracao.value --;
            if (duracao.value <= 0) duracao.value = '';
        }
    }

    /**
     * Monta lista predefinida intensidades.
     */
    const listaIntensidade = document.getElementById("listaIntensidade");
    const btnIntensidade = document.getElementById("btnIntensidade");
    const hdnIntensidade = document.getElementById("hdnIntensidade");

    intensidades.forEach(item => {
        const li = document.createElement("li");
        li.innerHTML = `
            <button class="dropdown-item d-flex flex-column" type="button" data-value="${item.value}">
                <div class='d-flex align-items-center'>
                    <i class="${item.icon} me-2"></i>
                    <div class="fw-bold">${item.label}</div>
                </div>
                <small class="text-muted">${item.desc}</small>
            </button>
        `;
        listaIntensidade.appendChild(li);
    });

    /**
     * Configura evento de clique para selecionar intensidade.
     */
    listaIntensidade.addEventListener("click", e => {
        const target = e.target.closest(".dropdown-item");
        if (!target) return;

        e.preventDefault();
        const value = target.getAttribute("data-value");
        const text = target.querySelector(".fw-bold").textContent;
        const icon = target.querySelector("i").outerHTML;

        btnIntensidade.innerHTML = icon + " " + text;
        hdnIntensidade.value = value;
    });

    /**
     * Seleciona automaticamente intensidade vinda do modo
     * de edição de cadastro de síntoma.
     */
    const valorInicial = hdnIntensidade.value;
    if (valorInicial) {
        const itemSelecionado = listaIntensidade.querySelector(`[data-value="${valorInicial}"]`);
        if (itemSelecionado) {
            const text = itemSelecionado.querySelector(".fw-bold").textContent;
            const icon = itemSelecionado.querySelector("i").outerHTML;
            btnIntensidade.innerHTML = icon + " " + text;
        }
    }

    /**
     * Configura evento de clique para selecionar localização.
     */
    document.getElementById("listaLocalizacao").addEventListener("click", e => {
        const item = e.target.closest(".dropdown-item");
        if (!item) return;

        e.preventDefault();
        document.getElementById("btnLocalizacao").textContent = item.textContent;
        document.getElementById("hdnLocalizacao").value = item.dataset.value;
    });
</script>